# llama.cpp Settings
GGML_VK_VISIBLE_DEVICES="1"
LLAMA_ARG_SLEEP_IDLE_SECONDS=300
LLAMA_PORT=9931
LLAMA_DEVICE="Vulkan0"
LLAMA_MODELS_DIR="/models"
LLAMA_MODELS_PRESET="/models/models-preset.ini"
LLAMA_MODELS_MAX=1
LLAMA_ARG_ENDPOINT_SLOTS=1
LLAMA_ARG_ENDPOINT_METRICS=0
# Open-WebUI Settings
OPEN_WEBUI_APP_PORT=8086
WEBUI_SECRET_KEY=$(openssl rand -hex 32) 
# Open Terminal Settings
OPEN_TERMINAL_API_KEY=$(openssl rand -base64 48 | tr -d '/' | tr -d '+')
# Docling Settings
DOCLING_API_KEY=$(openssl rand -hex 32)
# SearX NG Settings
SEARXNG_VERSION=latest
SEARXNG_HOST=[::]
SEARXNG_PORT=8089
SEARXNG_QUERY_URL="http://$(hostname -f):8089/search?q=<query>"
